
body{
	position:relative;

}
#description{
	font-size: 0.7em;
}
#description2{
	font-size:0.7em;
}

#value{
	width:400px;
	height:400px;
	background-color: #ff7700
;
	border-radius: 8px;
float: left;	position:relative;
	padding-left: 15px;
	padding-top: 15px;

	 }
#schema{
	width:400px;
	height:400px;
float: left;
	position:relative;

	border-radius: 8px;
	border: 5px solid #ff7700
;
}

#image{
	width:200px;
	height:200px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#value2{
	width:400px;
	height:400px;
	background-color: #ff7700;
	border-radius: 8px;
float: right;
	position:relative;
	padding-left: 15px;
	padding-top: 15px;


	 }


#image2{
	width:200px;
	height:200px;
	background-repeat: no-repeat;
	background-size: 100%;
}
#show
{

	margin-top:100px;
	width: 1200px;
	height:400px;
}
